p Тип: PUSH
p = "User: #{pusher_name}" 
p = "Ветка: #{branch}"
p Коммит:
p
  a href=commit["url"] = commit["message"]
p = "Добавлено: #{commit['added'].count}"
p = "Удалено: #{commit['removed'].count}"
p = "Изменено: #{commit['modified'].count}"