.loader-wrapper{
  height: 100vh;
}

.loader-wrapper img{
  width: 140px;
}

.text_vertical_center{
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.content{
  background-color: #fcfcfa;
}
